felds-fader {
  position: relative;
  user-select: none;
  display: block;
  height: 600px;
  width: 100%;
  cursor: -webkit-grab; cursor: grab;
}
felds-fader.grabbing {
  cursor: -webkit-grabbing; cursor: grabbing;
}
felds-fader > * {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
felds-fader > :first-child {
  opacity: 1;
}
